This file contains the syntax for different operations you can do within the Pandas library in Python.

In [8]:
import pandas as pd
df = pd.read_csv("titanic.csv")

## "Head" and "Tail"

Pandas provides two useful methods for examining the top and bottom rows of a DataFrame: `head()` and `tail()`.

### `df.head(n)`

- **Purpose**: Returns the first `n` rows of the DataFrame.
- **Parameters**:
  - `n` (optional): The number of rows you want to observe from the top of the dataset. If not specified, it defaults to 5.
- **Usage Example**:

  ```python
  df.head(10)  # Returns the first 10 rows of the DataFrame

In [12]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S